// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
  none: 0,
  xtiny: 0.25rem,    // 4px
  tiny: 0.5rem,      // 8px
  xsmall: 0.75rem,   // 12px
  small: 0.875rem,   // 14px
  base: 1rem,        // 16px
  thumb: 1.125rem,   // 18px
  mid: 1.25rem,      // 20px
  half: 1.5rem,      // 24px
  xhalf: 1.75rem,    // 28px
  medium: 2rem,      // 32px
  xmedium: 2.25rem,  // 36px
  large: 3rem,       // 48px
  xlarge: 3.5rem,    // 56px
  huge: 4rem,        // 64px
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1280px
);